*{margin:0px;padding: 0px;font-family:"arial";font-size:12px;letter-spacing: .1rem;}
.fix{overflow:hidden;}
body{
	height: 600px;
}

.middle_area{
	margin-left: 290px;
    margin-top: 20px;
    width: 607px;
    height: 597px;
    border-right: 1px solid #007E33;
}

.frnd_req_banner{
	text-align:center;
	font-weight: bold;
	font-size: 16px;
}

.resultarea{
	margin-top:20px;
	margin-left:30px;
	padding-bottom: 20px; 
	border-bottom: 1px solid #91AA92;
}

.resultarea>a{
	text-decoration:none;
	color: black;
}

.sender_propic{
	border-radius:60%;
	float:left;
}

.sender_info{
	margin-left:100px;
	margin-top: 4px;
	font-size:14px;
}

.sender_info>a{
	text-decoration:none;
	color: black;
	font-size:14px;
}

.btn_sender_per{
	float:right;
	margin-top: -70px;
	margin-right: 20px;
}

.frnd_delete{
	padding: 5px 20px;
	
}

.frnd_send{
	padding: 5px 20px;
	margin-bottom: 10px;
}