*{margin:0px;padding: 0px;font-family:"arial";font-size:12px;letter-spacing: .1rem;}
.fix{overflow:hidden;}
body{
	height: 600px;
}
.middle_area{
	margin-left: 290px;
    margin-top: 20px;
    width: 607px;
    border-right: 1px solid #007E33;
}

.middle{
	width:567px;
}

.delete_post{
	float:right;
	margin-top: -10px;
	margin-right: 5px;
}

.delete_post>a{
	text-decoration:none;
	color: #09B905;
	font-weight:bold;
}

.perpost{
	margin-top:10px;
}
.postheader{
	height: 45px;
	background-color: #EEEBEB;
}
.postheader>a{
	text-decoration:none;
}
.postheader>a>img{
	float: left;
	padding-top:5px;
	padding-left:5px;
	border-radius: 50%;
}

.fullname{
	float:right;
	padding-top:5px;
	margin-right:125px;
	width:400px;
}

.fullname>b>a{
	text-decoration:none;
	color:black;
}

.privacymode{
	float:right;
	margin-top: -28px;
	margin-right: 5px;
}

.postbody{
	background-color: #EEEBEB;
	padding-left:35px;
	padding-bottom: 10px;
}

.count{
	padding-top:10px;
	background-color: #EEEBEB;
	padding-left:35px;
}

.count_like{
	float:left;
}
.count_comment{
	float:right;
	margin-right: 300px;
}
.per_postfooter{
	border-top: 1px solid #91AA92;
	background-color: #EEEBEB;
}

.btn_like{
	float:left;
	background-color: #EEEBEB;
	width: 50%;
}
.btn_comment{
	margin-top:1px;
	float: right;
	text-align:center;
	width:49%;
	background-color: #EEEBEB;
	border: 2px solid #9E9C9C;
	cursor: pointer;
}

.btn_comment:focus{
	outline:none;
}
.comment_area{
	float:left;
	width: 457px;
	height:20px;
	border: 1px solid #007E33;
	margin-top:10px;	
	margin-bottom: 10px;
	margin-left:10px;
	border-radius:5px;
	padding-left: 10px;
}

.comment_area:focus{
	outline:none;
}

.btn_cmnt{
	float:right;
	margin-top:10px;
	margin-right: 10px;
	background-color: #007E33;
	border-style:none;
	color:white;
	font-weight:bold;
	padding: 5px 5px;
	
}


#comment_area{
	display:none;
}

.comments{
	margin-top:10px;
	width:567px;
	height: auto;
}

.percom{
	margin-top:10px;
	background-color: white;
	border: 1px solid #007E33;
	border-radius: 18px;
	margin-bottom:10px;
}

.percom>a>img{
	float: left;
	padding-top:5px;
	padding-left:5px;
	border-radius: 50%;
	margin-bottom:5px;
}

.com_name>b>a{
	text-decoration:none;
	color: black;
	margin-left: 10px;
	margin-top: 12px;
	float:left;
}

.com_body{
	float:left;
	margin-top: 12px;
	margin-left: 10px;
}